RewriteEngine On

# Bloquer toute requête contenant ".php"
RewriteCond %{THE_REQUEST} \s/.*\.php[?\s] [NC]
RewriteRule ^ - [R=404,L]

# Réécritures internes
RewriteRule ^$ index.php [L,QSA]
RewriteRule ^login/?$ login.php [L,QSA]
RewriteRule ^register/?$ register.php [L,QSA]
RewriteRule ^dashboard/?$ dashboard.php [L,QSA]
RewriteRule ^error/?$ error.php [L,QSA]
RewriteRule ^get_table/?$ get_table.php [L,QSA]
RewriteRule ^ajax_new_table/?$ ajax_new_table.php [L,QSA]

<FilesMatch "^(config\.php|manage\.sh)$">
    Order Deny,Allow
    Deny from all
</FilesMatch>
